<style>
  .custom-dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .custom-dropdown .dropdown-item {
    display: block;
    width: auto;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: normal;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: none;
  }
</style>
